@using Prototyping.Ipsum
@using Prototyping.Placeholdit
<!-- Main Grid Section -->

<div class="row">

    <div class="three columns">
        <div class="panel">
            @Html.Ipsum().h5().p(1, 1)
        </div>
    </div>
    <div class="six columns">
        <div class="panel">
            @Html.Ipsum().h5().p(1, 2)
        </div>
    </div>
    <div class="three columns">
        <div class="panel">
            @Html.Ipsum().h5().p(1, 1)
        </div>
    </div>

</div>

<div class="row">

    <div class="six columns">
        <div class="panel">
            @Html.Ipsum().h5().p(1, 1)
        </div>
    </div>
    <div class="two columns">
        <div class="panel">
            <p>
                @Html.Placehold(200, 200)
            </p>
        </div>
    </div>
    <div class="four columns">
        <div class="panel">
            @Html.Ipsum().h5().p(1, 1)
        </div>
    </div>

</div>

<div class="row">

    <div class="four columns">
        <div class="panel">
            <p>
                @Html.Placehold(400, 300)
            </p>
        </div>
    </div>
    <div class="four columns">
        <div class="panel">
            <p>
                @Html.Placehold(400, 300)
            </p>
        </div>
    </div>
    <div class="four columns">
        <div class="panel">
            <p>
                @Html.Placehold(400, 300)
            </p>
        </div>
    </div>

</div>

<div class="row">

    <div class="six columns">
        <div class="panel">
            @Html.Ipsum().h5().p(1, 2)
        </div>
    </div>
    <div class="three columns">
        <div class="panel">
            @Html.Ipsum().h5().p(1, 1)
        </div>
    </div>
    <div class="three columns">
        <div class="panel">
            @Html.Ipsum().h5().p(1, 1)
        </div>
    </div>

</div>

<!-- End Grid Section -->

<!-- Footer -->

<footer class="row">
    <div class="twelve columns">
        <hr />
        <div class="row">
            <div class="six columns">
                <p>&copy; Copyright no one at all. Go to town.</p>
            </div>
            <div class="six columns">
                @Html.Ipsum().ul(4, 2, true, new { @class = "link-list right" })
            </div>
        </div>
    </div>
</footer>
