@using Prototyping.Ipsum
@using Prototyping.Placeholdit
<!-- Nav and Banner -->

<div class="row">
    <div class="twelve columns">
        @Html.Ipsum().ul(5, 2, true, new { @class = "nav-bar" })

        <!-- Main Banner Image - place in a paragraph to enforce the modular scale spacing -->
        <p>@Html.Placehold(1000,400,"[img]")</p>
    </div>
</div>

<!-- End Nav and Banner -->


<!-- Main Content Section -->

<div class="row">

    <div class="eight columns">
        @Html.Ipsum().h4().p().p()
        <p><a href="#" class="secondary small button">Next Page &rarr;</a></p>
    </div>

    <div class="four columns">

        <!-- Gallery sidebar with a block grid. Note: block grid items should be the same size for optimal results -->

        <ul class="block-grid three-up">
            <li><a href="#">@Html.Placehold(120,120)</a></li>
            <li><a href="#">@Html.Placehold(120,120)</a></li>
            <li><a href="#">@Html.Placehold(120,120)</a></li>
            <li><a href="#">@Html.Placehold(120,120)</a></li>
            <li><a href="#">@Html.Placehold(120,120)</a></li>
            <li><a href="#">@Html.Placehold(120,120)</a></li>
        </ul>
    </div>

</div>


<!-- Call to Action Panel -->
<div class="row">
    <div class="twelve columns">

        <div class="panel">
            <h4>Get in touch!</h4>

            <div class="row">
                <div class="nine columns">
                    <p>We'd love to hear from you, you attractive person you.</p>
                </div>
                <div class="three columns">
                    <a href="#" class="radius button right">Contact Us</a>
                </div>
            </div>
        </div>

    </div>
</div>


<!-- Footer -->

<footer class="row">
    <div class="twelve columns">
        <hr />
        <div class="row">
            <div class="six columns">
                <p>&copy; Copyright no one at all. Go to town.</p>
            </div>
            <div class="six columns">
                @Html.Ipsum().ul(4, 2, true, new { @class = "link-list right" })
            </div>
        </div>
    </div>
</footer>
