@section head
{
    <style>
        /* Templates */
        span.f-temp.label {
            cursor: pointer;
        }

        #fndTemps {
            display: none;
        }

            #fndTemps .template input[type=checkbox] {
                display: none;
            }

        .fndtn-templates div > div > a {
            display: block;
            border: solid 1px #eee;
            height: 200px;
            overflow: hidden;
        }

            .fndtn-templates div > div > a:hover {
                border-color: #c8c8c8;
            }

                .fndtn-templates div > div > a:hover .template-dl {
                    display: block;
                }

            .fndtn-templates div > div > a .template {
                height: 200px;
                padding: 5px;
            }

                .fndtn-templates div > div > a .template > .row .columns, .fndtn-templates div > div > a .template > .row .column {
                    padding: 0 6px;
                }

            .fndtn-templates div > div > a + p {
                color: #777;
            }

            .fndtn-templates div > div > a.selected {
                color: #222;
                border: solid 1px #79cae3;
                -webkit-box-shadow: 0 0 6px rgba(43, 166, 203, 0.5);
                -moz-box-shadow: 0 0 6px rgba(43, 166, 203, 0.5);
                box-shadow: 0 0 6px rgba(43, 166, 203, 0.5);
            }

                .fndtn-templates div > div > a.selected + p {
                    color: #222;
                }

        .fndtn-templates .display {
            background-color: #ddd;
            margin-bottom: 5px;
            display: block;
        }

        .fndtn-templates.add-ons div > div > a .template > .row .column, .fndtn-templates.add-ons div > div > a .template > .row .columns {
            padding: 0 2.5px;
        }

            .fndtn-templates.add-ons div > div > a .template > .row .column:first-child, .fndtn-templates.add-ons div > div > a .template > .row .columns:first-child {
                padding-left: 15px;
            }

            .fndtn-templates.add-ons div > div > a .template > .row .column:last-child, .fndtn-templates.add-ons div > div > a .template > .row .columns:last-child {
                padding-right: 15px;
            }

        .fndtn-templates.add-ons div > div > a .template .hover-actions.buttons {
            height: inherit;
        }

        .fndtn-templates.add-ons div > div > a + p {
            color: #222;
        }
    </style>
}
<div class="row">
    <div class="twelve columns">
        <h2>Prototyping templates</h2>
        <p>Adapted for MVC using the Foundation HTML templates from <a href="http://foundation.zurb.com/templates.php">the Foundation framework website.</a></p>
        <p>View the .cshtml files in this project and use the source code in your next project.</p>
    </div>
</div>
<div class="fndtn-templates add-ons">
    <div class="row">

        <div class="three mobile-one columns">
            <a href="@Url.Action("BandedTemplate", new { area = "", controller = "Templates" })">
                <div class="template">
                    <div class="row">
                        <div class="three columns">
                            <span class="display" style="width: 100%; height: 12px;"></span>
                        </div>
                        <div class="four columns">
                            <span class="display" style="width: 100%; height: 12px;"></span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="twelve columns">
                            <span class="display" style="width: 100%; height: 65px;"></span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="four columns">
                            <span class="display" style="width: 100%; height: 50px;"></span>
                        </div>
                        <div class="eight columns">
                            <span class="display" style="width: 100%; height: 50px;"></span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="eight columns">
                            <span class="display" style="width: 100%; height: 50px;"></span>
                        </div>
                        <div class="four columns">
                            <span class="display" style="width: 100%; height: 50px;"></span>
                        </div>
                    </div>
                </div>
            </a>
            <p class="get-code">
                Banded
            </p>
        </div>

        <div class="three mobile-one columns">
            <a href="@Url.Action("BlogTemplate", new { area = "", controller = "Templates" })">
                <div class="template">
                    <div class="row">
                        <div class="twelve columns">
                            <span class="display" style="width: 100%; height: 20px;"></span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="nine columns">
                            <span class="display" style="width: 100%; height: 150px;"></span>
                        </div>

                        <div class="three columns">
                            <span class="display" style="width: 100%; height: 150px;"></span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="twelve columns">
                            <span class="display" style="width: 100%; height: 15px;"></span>
                        </div>
                    </div>
                </div>
            </a>
            <p class="get-code">
                Blog
            </p>
        </div>

        <div class="three mobile-one columns">
            <a href="@Url.Action("FeedTemplate", new { area = "", controller = "Templates" })">
                <div class="template">
                    <div class="row">
                        <div class="twelve columns">
                            <span class="display" style="width: 100%; height: 20px;"></span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="two columns">
                            <span class="display" style="width: 100%; height: 120px;"></span>
                        </div>

                        <div class="eight columns">
                            <div class="row">
                                <div class="two columns">
                                    <span class="display" style="width: 100%; height: 15px;"></span>
                                </div>
                                <div class="ten columns">
                                    <span class="display" style="width: 100%; height: 15px;"></span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="two columns">
                                    <span class="display" style="width: 100%; height: 15px;"></span>
                                </div>
                                <div class="ten columns">
                                    <span class="display" style="width: 100%; height: 15px;"></span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="two columns">
                                    <span class="display" style="width: 100%; height: 15px;"></span>
                                </div>
                                <div class="ten columns">
                                    <span class="display" style="width: 100%; height: 15px;"></span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="two columns">
                                    <span class="display" style="width: 100%; height: 15px;"></span>
                                </div>
                                <div class="ten columns">
                                    <span class="display" style="width: 100%; height: 15px;"></span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="two columns">
                                    <span class="display" style="width: 100%; height: 15px;"></span>
                                </div>
                                <div class="ten columns">
                                    <span class="display" style="width: 100%; height: 15px;"></span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="two columns">
                                    <span class="display" style="width: 100%; height: 15px;"></span>
                                </div>
                                <div class="ten columns">
                                    <span class="display" style="width: 100%; height: 15px;"></span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="two columns">
                                    <span class="display" style="width: 100%; height: 15px;"></span>
                                </div>
                                <div class="ten columns">
                                    <span class="display" style="width: 100%; height: 15px;"></span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="two columns">
                                    <span class="display" style="width: 100%; height: 15px;"></span>
                                </div>
                                <div class="ten columns">
                                    <span class="display" style="width: 100%; height: 15px;"></span>
                                </div>
                            </div>
                        </div>

                        <div class="two columns">
                            <span class="display" style="width: 100%; height: 40px;"></span>
                            <span class="display" style="width: 100%; height: 60px;"></span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="twelve columns">
                            <span class="display" style="width: 100%; height: 15px;"></span>
                        </div>
                    </div>
                </div>
            </a>
            <p class="get-code">
                Feed
            </p>
        </div>

        <div class="three mobile-one columns">
            <a href="@Url.Action("GridTemplate", new { area = "", controller = "Templates" })">
                <div class="template">
                    <div class="row">
                        <div class="display" style="width: 100%; height: 12px;"></div>
                    </div>
                    <div class="row">
                        <div class="three columns">
                            <span class="display" style="width: 100%; height: 30px;"></span>
                        </div>
                        <div class="six columns">
                            <span class="display" style="width: 100%; height: 30px;"></span>
                        </div>
                        <div class="three columns">
                            <span class="display" style="width: 100%; height: 30px;"></span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="six columns">
                            <span class="display" style="width: 100%; height: 30px;"></span>
                        </div>
                        <div class="two columns">
                            <span class="display" style="width: 100%; height: 30px;"></span>
                        </div>
                        <div class="four columns">
                            <span class="display" style="width: 100%; height: 30px;"></span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="four columns">
                            <span class="display" style="width: 100%; height: 50px;"></span>
                        </div>
                        <div class="four columns">
                            <span class="display" style="width: 100%; height: 50px;"></span>
                        </div>
                        <div class="four columns">
                            <span class="display" style="width: 100%; height: 50px;"></span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="six columns">
                            <span class="display" style="width: 100%; height: 30px;"></span>
                        </div>
                        <div class="three columns">
                            <span class="display" style="width: 100%; height: 30px;"></span>
                        </div>
                        <div class="three columns">
                            <span class="display" style="width: 100%; height: 30px;"></span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="twelve columns">
                            <span class="display" style="width: 100%; height: 10px;"></span>
                        </div>
                    </div>
                </div>
            </a>
            <p class="get-code">
                Grid
            </p>
        </div>

    </div>

    <div class="row">

        <div class="three mobile-one columns">
            <a href="@Url.Action("OrbitHomePageTemplate", new { area = "", controller = "Templates" })">
                <div class="template">
                    <div class="row">
                        <div class="three columns">
                            <span class="display" style="width: 100%; height: 14px;"></span>
                        </div>
                        <div class="five columns">
                            <span class="display" style="width: 100%; height: 14px;"></span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="twelve columns">
                            <span class="display" style="width: 100%; height: 75px;"></span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="four columns">
                            <span class="display" style="width: 100%; height: 70px;"></span>
                        </div>
                        <div class="four columns">
                            <span class="display" style="width: 100%; height: 70px;"></span>
                        </div>
                        <div class="four columns">
                            <span class="display" style="width: 100%; height: 70px;"></span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="twelve column">
                            <span class="display" style="width: 100%; height: 14px;"></span>
                        </div>
                    </div>
                </div>
            </a>
            <p class="get-code">
                Orbit Home
            </p>
        </div>

        <div class="three mobile-one columns">
            <a href="@Url.Action("HomePageTemplate", new { area = "", controller = "Templates" })">
                <div class="template">
                    <div class="row">
                        <div class="twelve columns">
                            <span class="display" style="width: 100%; height: 12px;"></span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="twelve columns">
                            <span class="display" style="width: 100%; height: 80px;"></span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="eight columns">
                            <span class="display" style="width: 100%; height: 50px;"></span>
                        </div>
                        <div class="four columns">
                            <div class="row">
                                <div class="four columns">
                                    <span class="display" style="width: 100%; height: 22px;"></span>
                                </div>
                                <div class="four columns">
                                    <span class="display" style="width: 100%; height: 22px;"></span>
                                </div>
                                <div class="four columns">
                                    <span class="display" style="width: 100%; height: 22px;"></span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="four columns">
                                    <span class="display" style="width: 100%; height: 23px;"></span>
                                </div>
                                <div class="four columns">
                                    <span class="display" style="width: 100%; height: 23px;"></span>
                                </div>
                                <div class="four columns">
                                    <span class="display" style="width: 100%; height: 23px;"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="twelve columns">
                            <span class="display" style="width: 100%; height: 23px;"></span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="twelve columns">
                            <span class="display" style="width: 100%; height: 4px;"></span>
                        </div>
                    </div>
                </div>
            </a>
            <p class="get-code">
                Banner Home
            </p>
        </div>

        <div class="three mobile-one columns">
            <a href="@Url.Action("SideBarTemplate", new { area = "", controller = "Templates" })">
                <div class="template">
                    <div class="row">
                        <div class="three columns">
                            <span class="display" style="width: 100%; height: 13px;"></span>
                        </div>
                        <div class="six columns">
                            <span class="display" style="width: 100%; height: 13px;"></span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="four columns">
                            <div class="row">
                                <div class="twelve column">
                                    <span class="display" style="width: 100%; height: 80px;"></span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="twelve column">
                                    <span class="display" style="width: 100%; height: 40px;"></span>
                                </div>
                            </div>
                        </div>
                        <div class="eight columns">
                            <span class="display" style="width: 100%; height: 150px;"></span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="twelve columns">
                            <span class="display" style="width: 100%; height: 15px;"></span>
                        </div>
                    </div>
                </div>
            </a>
            <p class="get-code">
                Sidebar
            </p>
        </div>

        <div class="three mobile-one columns">
            <a href="@Url.Action("ContactTemplate", new { area = "", controller = "Templates" })">
                <div class="template">
                    <div class="row">
                        <div class="display" style="width: 100%; height: 12px;"></div>
                    </div>
                    <div class="row">
                        <div class="eight columns">
                            <div class="row">
                                <div class="twelve columns">
                                    <span class="display" style="width: 100%; height: 25px;"></span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="twelve columns">
                                    <span class="display" style="width: 100%; height: 100px;"></span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="five columns">
                                    <span class="display" style="width: 100%; height: 10px;"></span>
                                </div>
                            </div>
                        </div>
                        <div class="four columns">
                            <div class="row">
                                <div class="twelve columns">
                                    <span class="display" style="width: 100%; height: 50px;"></span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="twelve columns">
                                    <span class="display" style="width: 100%; height: 20px;"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="twelve columns">
                            <span class="display" style="width: 100%; height: 20px;"></span>
                        </div>
                    </div>
                </div>
            </a>
            <p class="get-code">
                Contact
            </p>
        </div>

    </div>
</div>
