<nav class="top-bar">
    <ul>
        <li class="name">
            <h1><a href="/">Prototyping</a></h1>
        </li>
        <li class="toggle-topbar"><a href="#"></a></li>
    </ul>
    <section>
        <ul class="left">
            <li><a href="@Url.Action("ExampleOne", new { area = "", controller = "Home" })" class="main">Example 1</a></li>
            <li><a href="@Url.Action("ExampleTwo", new { area = "", controller = "Home" })" class="main">Example 2</a></li>
            <li><a href="@Url.Action("ExampleThree", new { area = "", controller = "Home" })" class="main">Example 3</a></li>
            <li><a href="@Url.Action("ExampleFour", new { area = "", controller = "Home" })" class="main">Example 4</a></li>
            <li><a href="@Url.Action("ExampleFive", new { area = "", controller = "Home" })" class="main">Example 5</a></li>
            <li><a href="@Url.Action("ExampleSix", new { area = "", controller = "Home" })" class="main">Example 6</a></li>
        </ul>

        <ul class="right">
            <li><a href="@Url.Action("Index", new { area = "AppDemo", controller = "App" })" class="main">Demo App</a></li>
        </ul>
    </section>
</nav>
